.wrapper {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  color: black;
  grid-column: auto;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.picture {
  width: 100px;
  height: 100px;
  position: relative;
}
